[submodule "Nanach/vendor/spdlog"]
	path = Nanach/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nanach/vendor/GLFW"]
	path = Nanach/vendor/GLFW
	url = https://github.com/glfw/glfw.git
